@charset "utf-8";
/* CSS Document */
div,ul,li{
          margin: 0;
          padding: 0;
       }
body{
	background:#F2F2F2;
	margin:0px;
	
	}
ul,li{
	
    list-style:none;
	margin:0px;
	padding:0px;
	}
#logo{
	background-size: cover;
	height:210px;
	width:1300px;
	margin:0px auto;
	color:white;
	font-size:12px;
	}
#logo a{
	color:white;
	text-decoration:none;
	}
#logo #sc{
	
	float: right;
	margin:10px;
	}
#nav{
	
	width:1300px;
	height:80px;
	background:;
	margin:0px auto;
	
	}
#nav ul li{
	display:inline;
	  
	}
#nav ul li a{
	
    color:black;
	text-decoration:none;
	font-size:20px;
	font-family:"微软雅黑";
	display:block;
	float:right;
	height:65px;
	line-height:74px;
	width:100px;
	margin:5px 22px;
	text-align:center;

	}
#nav ul li a:hover{
	color:#FC0;
	
	}
#xinwen{
	
	width:1300px;
	height:560px;
	margin:0px auto;
    background:#FFF;
	}
#xinwen .left1{
	
	width:600px;
	height:350px;
	background:#FFF;
	float:left;
	margin:25px;
	}
#biaoti{
	color:black;
	font-size:30px;
	font-weight: bold;
	margin-left:20px;
	margin-right:20px;
	line-height:60px;
	}
#riqi{
	font-size:12px;
	color:#999;
	float:right;
	margin-right:15px;
    display: block;
	height:55px;
	text-align:center;
	font-size:10px;
	line-height:55px;
	}

#xinwen .right1{
	
	width:600px;
	height:350px;
	background:#FFF;
	float:right;
	margin:25px;
	}
#xinwen .right1 a{
	 display: block;
     width: 600px;
     height:55px;
     border-bottom: 1px dashed #e5e5e5;
	 color:#000;
	}
#xinwen .right1 a p{
  font-weight: bold;
  width: 500px;
  overflow: hidden;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:16px;
	}
#xinwen .right1 a:hover{
  color: #5390CC;
	}
#tupian1{
	width:600px;
	height:350px;
	}
/*工程展示*/
#gongcheng{
	width:1300px;
	height:500px;
	margin:0px auto;
    background:#EAEAEA;
	}
#head{
	height:70px;
	background:#EAEAEA;
	}
#left1{
	margin-top:3%;
	margin-left:3%;
	margin-bottom:3%;
	width:20%;
	height:350px;
	background:#FFF;
    float:left;
	}
#left1 ul li{
	display:block;
	background:#E3E3E3;
	height:87.5px;
	text-align:center;
	line-height:87.5px;
	font-size:25px;
	font-family:"微软雅黑";
	}
#left1 ul li input{
	height:80px;
	font-size:25px;
	background:#E3E3E3;
	border:none;
	
	}
#left1 ul li input:hover{
	background:#06F;
	color:#FFF;
	
	}
#middle{
	margin-top:3%;
	margin-bottom:3%;
	width:42%;;
	height:350px;
	background:#00F;
	float:left;
	}
#timu{
	margin:25px;
	color:#0080FF;
	}
#jianjie{
	margin:10px 20px;
	font-size:10px;
	word-wrap: break-word;
	}
#right1{
    margin-top:3%;
	margin-right:3%;
	margin-bottom:3%;
	width:32%;
	height:350px;
	background:#FFFF;
	float:left;
	}
#guanggao{
	float:right;
	font-size:10px;
	margin:5px;
	}
#chakan{
	margin:10px 20px;
	width:120px;
	height:30px;
	}
/*介绍*/
#jieshao{
	width:1300px;
	height:200px;
	margin:0px auto;
    background:#603;
	}
#lie{
	width:25%;
	height:200px;
	background:#FFF;
    float:left;
	}
#lie img{
	float:left;
	margin-left:10px;
	margin-top:10px;
	}
#lie span{
	width:50%;
	margin:25px 10px;
	float:left;
	font-size:20px;
	font-weight: bold;
	}
#lie p{
	margin:10px 10px;
	float:inherit;
	line-height:17px;
	font-size:10px;
	}
/*页面总结栏*/
#lianxifangshi{
	width:1300px;
	height:252px;
	background:#EAEAEA;
	margin:0px auto;
	background:url(../end.jpg);
	}
#lianjie{
	width:850px;
	height:150px;
	float:left;
	}
#lie1{
	width:180px;
	height:150px;
	float:left;
	margin-left:30px;
	line-height:50px;
	}
#lie1 h3{
	margin-bottom:1px;
	
	}
#lie1 p{
	font-size:15px;
	font-family:"微软雅黑";
	margin:0px;
	line-height:30px;
	}
#lie1 p a{
	color:black;
	text-decoration:none;
	font-size:15px;
	font-family:"微软雅黑";
	}
#lie1 h3 a{
	color:black;
	text-decoration:none;
	}
#erweima{
	width:450px;
	height:150px;
	float:left;
	}
#tupian{
	height:150;
	margin-left:90px;
	float:left;
	}
#tupian h4{
	font-size:20px;
	}
#tupian{
	height:150;
	margin-left:90px;
	float:left;
	}
#foot{
	width:1300px;
	height:50px;
	background:#CFCFCF;
	margin:0px auto;
	text-align:center;
	line-height:50px;
	}
/*图片轮播*/
.container{
            width: 1300px;
            height:400px;
            position: relative;
			margin:0px auto;
            /*border: 1px solid #ccc;*/
        }
        /*图片样式*/
.container img{
            position: absolute;        /*把所有图片放在同一个位置*/
            width: 100%;
            transition-duration: 0.5s;    /*设置过渡时间*/
            opacity: 0;                /*把所有图片变透明*/
        }
        /*图片显示开关*/
.container img.on{
            opacity: 1;                /*用于显示图片*/
        }
        /*左右按钮 按钮用图片更好点,这里为了简便就用大于小于号*/
.left, .right{
            position: absolute;
            top: 30%;
            width: 60px;
            height: 100px;
            line-height: 100px;
            background-color: #666;
            opacity: 0.5;
            text-align: center;
            font-size: 60px;
            color: #ccc;
            display: none;    /*先隐藏按钮*/
            cursor: pointer;    /*设置鼠标悬停时的样式*/
        }
.left{
            left: 0;
        }
.right{
            right: 0;
        }
.container:hover .left, .container:hover .right{
            display: block; /*鼠标悬停才容器范围内时显示按钮*/
        }
.left:hover, .right:hover{
            color: #fff;
        }
/*焦点*/
.container ul{
            position: absolute;
            bottom: 0;
            max-width: 500px;
            padding: 10px 600px;
        }
.container ul li{
            list-style: none;
            float: left;
            background-color: #ccc;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-left: 10px;
            cursor: pointer;
        }
/*焦点激活时的样式*/
.container ul li.active{
            background-color:#03C;
        }