@charset "utf-8";
/* CSS Document */
div,ul,li{
          margin: 0;
          padding: 0;
       }
body{
	background:#F2F2F2;
	margin:0px;
	
	}
ul,li{
	
    list-style:none;
	margin:0px;
	padding:0px;
	}
#nav{
	
	width:1300px;
	height:80px;
	background:;
	margin:0px auto;
	
	}
#nav ul{
	
	
	}
#nav ul li{
	display:inline;
	  
	}
#nav ul li a{
	
    color:black;
	text-decoration:none;
	font-size:20px;
	font-family:"微软雅黑";
	display:block;
	float:right;
	height:65px;
	line-height:74px;
	width:100px;
	margin:5px 22px;
	text-align:center;

	}
#nav ul li a:hover{
	color:#FC0;
	
	}
/*介绍*/
#jieshao{
	width:1300px;
	height:200px;
	margin:0px auto;
    background:#603;
	}
#lie{
	width:25%;
	height:200px;
	background:#FFF;
    float:left;
	}
#lie img{
	float:left;
	margin-left:10px;
	margin-top:10px;
	}
#lie span{
	width:50%;
	margin:25px 10px;
	float:left;
	font-size:20px;
	font-weight: bold;
	}
#lie p{
	margin:10px 10px;
	float:inherit;
	line-height:17px;
	font-size:10px;
	}
/*主体*/
#main{
	width:1300px;
	height:600px;
	background:#E7E7E7;
	margin:0px auto;
	}
#top{
	width:1300px;
	height:500px;
	}
#left{
	width:650px;
	height:500px;
	float:left;
	}
#left h2{
	margin-left:250px;
	line-height:80px;
	}
#left img{
	margin-left:150px;
	margin-top:0px;
	}
#right{
	width:650px;
	height:500px;
	float:left;
	}
#right h2{
	margin-left:250px;
	line-height:80px;
	}
#right img{
	margin-left:150px;
	margin-top:0px;
	}
#down{
	width:1300px;
	height:100px;
	}
#left2{
	width:650px;
	height:100px;
	float:left;
	}
#left2 p{
	font-size:30px;
	margin-left:150px;
	line-height:50px;
	}
#right2{
	height:100px;
	width:650px;
	float:left;
	}
#right2 p{
	font-size:30px;
	margin-left:150px;
	line-height:50px;
	}
/*页面总结栏*/
#lianxifangshi{
	width:1300px;
	height:252px;
	background:#EAEAEA;
	margin:0px auto;
	background:url(../end.jpg);
	}
#lianjie{
	width:850px;
	height:150px;
	float:left;
	}
#lie1{
	width:180px;
	height:150px;
	float:left;
	margin-left:30px;
	line-height:50px;
	}
#lie1 h3{
	margin-bottom:1px;
	
	}
#lie1 p{
	font-size:15px;
	font-family:"微软雅黑";
	margin:0px;
	line-height:30px;
	}
#lie1 p a{
	color:black;
	text-decoration:none;
	font-size:15px;
	font-family:"微软雅黑";
	}
#lie1 h3 a{
	color:black;
	text-decoration:none;
	}
#erweima{
	width:450px;
	height:150px;
	float:left;
	}
#tupian{
	height:150;
	margin-left:90px;
	float:left;
	}
#tupian h4{
	font-size:20px;
	}
#tupian{
	height:150;
	margin-left:90px;
	float:left;
	}
#foot{
	width:1300px;
	height:50px;
	background:#CFCFCF;
	margin:0px auto;
	text-align:center;
	line-height:50px;
	}